    .menu-navegacao li{
            display: inline-block;
            margin-right: 20px;     
    }

    .menu-navegacao li a{
        text-decoration: none;
        cursor: pointer;
        color: black;
    } 

    .menu-navegacao li a:hover{
        font-weight: bold;
    }

    .menu-navegacao{
        background-color: rgb(18, 177, 177);
        position: fixed;
        top: 0;
        left: 15%;
        width: 70%;
        padding: 10px 0;
        text-align: center;
        z-index: 1000;
    }

    body{
        height: 100%;
        position: relative;
    }

    main{
        background-color: rgb(148, 140, 129);
        height: 92%;
    }

    .header{
        border: 1px solid black;
        position: absolute;
        top: 8%;
        left: 15%;
        width: 70%;
    }