<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo - John Wesley</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Style/desktop.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Style/mobile.css')}}">
</head>
<body>
    <section class="my-CV">
        <header class="banner">
            <nav class="menu-navegacao">
                <ul>
                    <li><a href="/">Página Inicial</a></li>
                    <li><a href="/about">Sobre mim</a></li>
                    <li><a href="/education">Formação Acadêmica</a></li>
                    <li><a href="/experiences">Experiencias Profissionais</a></li>
                    <li><a href="/projects">Projetos</a></li>
                    <li><a href="/skills">Habilidades</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="header">
                <div class="text">
                    <h1>John Wesley</h1>

                    <section class="apresentation">
                        <p><span>Olá meu nome é John Wesley Florentino Diniz,</span> 
                        <span>tenho 17 anos e moro em Ribeirão das Neves,</span> <span>Minas Gerais.</span></p>
                        <!-- <p><span>E-mail: </span>johnwesleyfd@gmail.com</p> -->
                    </section>

                    <section class="professional-goal">
                        <p><span>Meu obetivo de carreira é me desenvolver no mercado</span> <span>como programador e ganhar experiencias para crescer</span> <span>em conhecimento e na emperesa, conseguinndo dessa forma</span> <span>pegar cargos mais alto na empresa ou até mesmo ir</span> para outras empresas maiores - como a Google</p>
                    </section>
                </div>
            </div>
        </main>
</body>
</html>